html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Gloria Hallelujah', cursive;;
	margin: 0;
	padding-top: 4.1rem;
	background-color:#18A389;
}

nav {
	border-top: 3px solid #FD6240; 
	border-bottom: 3px solid #FFFFA3; 
	border-width: 0.2rem;
	position: fixed;
	top: 0.2rem; 
	width: 100%; 
	background-color: #8fdaa9;
  }
  nav ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
  }
  nav li {
	display: inline-block;
  }
  nav a {
	display: block;
	padding-inline: 2rem;
	text-decoration: none;
  }
  nav a:hover {
	color: #a1270b;
  }

section {
	margin-left: 1rem;
	margin-top: 3rem;
	font-size: 1.1rem;
}

p, .nav2, .nav3 {
	margin-top: 3rem;
	font-size: 1.3rem;
}

iframe {
	border-radius: 2rem;
	margin: 0 0 2rem 0;
}




