html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Gloria Hallelujah', cursive; arial;
	margin: 0;
	padding-top: 6rem; 
	background-color:#18A389;
}

nav {
	border-top: 3px solid #FD6240; 
	border-bottom: 3px solid #FFFFA3; 
	border-width: 0.2rem;
	position: fixed;
	top: 0.2rem; 
	width: 100%; 
	background-color: #8fdaa9;
  }
  nav ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
  }
  nav li {
	display: inline-block;
  }
  nav a {
	display: block;
	padding-inline: 2rem;
	text-decoration: none;
  }
  nav a:hover {
	color: #a1270b;
  }
  
section {
	flex-basis: 57%;
	margin-right: 10%;
	padding-left: 1rem;
}

fieldset {
	border: 1px solid rgb(9, 29, 117);
	border-radius: 10px;
	margin-bottom: 2rem;
}
legend {
	font-weight: bold;
	font-size: 1.5rem;
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
	/* border: 1px solid blue; 
	use this to check an element is inline or block*/
}

span {
	color: red;
}

textarea {
	height: 10rem;
}

input, textarea {
	display:block;
	margin-bottom: 1rem;
	width: 20rem;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	padding: 0 1rem;
	border: none;
	border-radius: 1rem;
}

[for="comments"], [type="submit"] {
	margin-bottom: 0;
	margin-top: 2rem;
}

#comments {
    padding-top: 0.5rem;
	font-size: 1rem;
}	

button {
	padding: 1rem;
	border-radius: 5px;
	background-color: #90c2b9;
	font-size: 1rem;
	font-weight: bold;
}

button:hover {
	color:rgb(0, 80, 49);
	background-color: rgb(210, 225, 240);
}

button:active {
	color:rgb(196, 233, 219);
	background-color:rgb(0, 80, 80);
}





