html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Courgette', 'cursive', 'comic sans';
	background-color:#18A389;
	background-image: url(../images/menorah-r2-t3\(final\).png);
	background-size: 2.5rem;
	padding-top: 6rem; 
}

nav {
	border-top: 3px solid #B79B4E; 
	border-bottom: 3px solid #B79B4E; 
	border-width: 0.2rem;
	position: fixed;
	z-index: 10;
	top: 0.2rem; 
	left: 0;
	width: 100%; 
	background-color: #8fdaa9;
	background-image: url(../images/ice-t1.png);
  }

  nav ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
  }

  nav li {
	display: inline-block;
  }

  nav a {
	display: flex;
	padding-inline: 3rem;
	text-decoration: none;
	color: black;
  	font-size: 1.5rem;
  	font-weight: bold;
  }

  nav a:hover {
	color: #a1270b;
  }
  
  nav span {
	color: #eccd98;
	font-weight: 900;
	text-shadow: -1px 0 #b6ab8f, 0 1px #b6ab8f, 1px 0 #b6ab8f, 0 -1px #b6ab8f;
  }

section {
	flex-basis: 57%;
	margin-right: 10%;
	padding-left: 1rem;
}

nav a, h1, legend {
	text-shadow: -1px 0 #B79B4E, 0 1px #B79B4E, 1px 0 #B79B4E, 0 -1px #B79B4E;
}

fieldset {
	border: 3px solid #d0af75;
	border-radius: 10px;
	margin-bottom: 2rem;
}
legend {
	font-weight: bold;
	font-size: 1.5rem;
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
	/* border: 1px solid blue; 
	use this to check an element is inline or block*/
}

span1 {
	color: red;
}

textarea {
	height: 10rem;
}

input, textarea {
	display:block;
	margin-bottom: 1rem;
	width: 20rem;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	padding: 0 1rem;
	border: none;
	border-radius: 1rem;
}

[for="comments"], [type="submit"] {
	margin-bottom: 0;
	margin-top: 2rem;
}

#comments {
    padding-top: 0.5rem;
	font-size: 1rem;
}	

button {
	padding: 1rem;
	border-radius: 5px;
	background-color: #90c2b9;
	font-size: 1rem;
	font-weight: bold;
}

button:hover {
	color:rgb(0, 80, 49);
	background-color: rgb(210, 225, 240);
}

button:active {
	color:rgb(196, 233, 219);
	background-color:rgb(0, 80, 80);
}

main ol {
list-style-type: none;
display: inline-flex;
color: white;
background-color: #000;
width: 100%;
height: 2rem;
padding-top: 1rem;
padding-bottom: 2rem;
font-size: 0.8rem;
white-space: nowrap;
}

main ol ul li {
  list-style-type: none;
  min-width: 300px;
}

main ol ul li a {
  list-style-type: none;
  display: contents;
  color: #B79B4E;
  font-size: 0.8rem;
}

main ol li a:hover {
	color: #a1270b;
  }


