* {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Courgette', 'cursive', 'comic sans';
  background-color: #18A389;
  background-image: url(../images/menorah-r2-t3\(final\).png);
  background-size: 2.5rem;
  padding-top: 3rem;
}

nav { 
  border-top: 3px solid #B79B4E; 
  border-bottom: 3px solid #B79B4E;
  border-width: 0.2rem;
  position: fixed;
  z-index: 10;
  top: 0.2rem; 
  left: 0;
  width: 100%; 
  background-color: #8fdaa9;
  background-image: url(../images/ice-t1.png);
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav li {
  display: inline-block;
}

nav a {
  display: flex;
  padding-inline: 3rem;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

nav a:hover {
  color: #a1270b;
}

nav span {
  color: #eccd98;
  font-weight: 900;
  text-shadow: -1px 0 #b6ab8f, 0 1px #b6ab8f, 1px 0 #b6ab8f, 0 -1px #b6ab8f;
}

h1 {
  padding-top: 0.7rem; 
}

h1, h3 {
  text-shadow: -2px 0 #B79B4E, 0 2px #B79B4E, 2px 0 #B79B4E, 0 -2px #B79B4E;
}

h2 {
  font-size: 0.8rem; 
  margin-top: -1rem; 
  margin-left: 1rem;
}

h2, nav a, div a {
  text-shadow: -1px 0 #B79B4E, 0 1px #B79B4E, 1px 0 #B79B4E, 0 -1px #B79B4E;
}

h3 {
  font-size: 2rem;
}

.card {
  align-items: center;
  background-color: #7ABD91;
  background-image: url(../images/ice-t1.png);
  background-size: flex;
  border: 3px solid #B79B4E;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;
  padding: 30px;
}

.card:hover {
  background-color: #8fdaa9;
}

.card:active {
  background-color: #057986;
}

.profile-image {
  border: 5px solid #B79B4E;
  border-radius: 50%;
  height: 180px;
  width: 180px;

  -webkit-mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
    mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
    -webkit-mask-size: 800%;
    mask-size: 800%;
    -webkit-mask-position: 0;
    mask-position: 0;
}

.profile-image:hover {
  opacity: 1; 

  transition: mask-position 2s ease,-webkit-mask-position 2s ease;
  -webkit-mask-position: 120%;
  mask-position: 120%;
  opacity: 1;
}

div ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

div a {
  display: block;
  padding-inline: 2rem;
  text-decoration: none;
  color: white;
}

div a:hover {
  color:#a1270b;
}

.fa-linkedin {
  color: blue;
  font-size: 2rem;
}

.fa-linkedin.fa-beat, .fa-github.fa-beat, .fa-stack-overflow.fa-beat {
  --fa-animation-duration: 2s; --fa-beat-scale: 1.15;
}

.fa-github {
  color: black;
  font-size: 2rem;
}

.fa-stack-overflow {
  color: #C75E0D;
  font-size: 2rem;
}

main ol {
list-style-type: none;
display: inline-flex;
color: white;
background-color: #000;
width: 100%;
height: 2rem;
padding-top: 1rem;
font-size: 0.8rem;
white-space: nowrap;
}

main ol ul li {
  list-style-type: none;
  min-width: 300px;
}

main ol ul li a {
  list-style-type: none;
  display: contents;
  color: #B79B4E;
  font-size: 0.8rem;
}

main ol li a:hover {
	color: #a1270b;
  }