* {
  box-sizing: border-box;
}

h1 {padding-top: 0.7rem;}
h2 {font-size: 0.8rem; margin-top: -1rem; margin-left: 1rem;}
h3 {font-size: 2rem;}

body {
  font-family: 'Gloria Hallelujah', cursive;;
  background-color: #18A389;
  padding-top: 3rem;
}

nav { 
  border-top: 3px solid #FD6240; 
  border-bottom: 3px solid #FFFFA3;
  border-width: 0.2rem;
  position: fixed;
  top: 0.2rem; 
  left: 0;
  width: 100%; 
  background-color: #8fdaa9;
  
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
nav li {
  display: inline-block;
}
nav a {
  display: block;
  padding-inline: 2rem;
  text-decoration: none;
}
nav a:hover {
  color: #a1270b;
}

.card {
  align-items: center;
  background-color: #8fdaa9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;
  padding: 30px;
}

.card:hover {
  background-color: #7ABD91;
}

.card:active {
  background-color: #598368;
}

.profile-image {
  border-radius: 50%;
  height: 180px;
  width: 180px;
}

.profile-image:hover {
  opacity: 0.5; 
}

.profile-image:active {
  
}

div ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

div a {
  display: block;
  padding-inline: 2rem;
  text-decoration: none;
}

div a:hover {
  color:#a1270b;
}