html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-image:url(../img/galaxy.jpg);
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
	background-color: #A1B7E0;
}
section {
	flex-basis: 57%;
	margin-right: 10%;
}
aside {
	flex-basis: 33%;
}
p, [for="abtype"], [for="comments"], [type="submit"] {
	margin-bottom: 0;
	margin-top: 2rem;
}
fieldset {
	border: 1px solid blue;
	border-radius: 10px;
	margin-bottom: 2rem;
}
legend {
	font-weight: bold;
	font-size: 1.5rem;
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
	/* border: 1px solid blue; 
	use this to check an element is inline or block*/
}
label {
	display:block
}
textarea {
	height: 10rem;
	padding: 1rem;
}
select {
	font-size: 1rem;
}
button {
	padding: 1rem;
	border-radius: 5px;
	background-color: yellowgreen;
	font-size: 1rem;
	font-weight: bold;
}
button:hover {
	color:aqua;
	background-color: blueviolet;
}
input:not([type="radio"]):not([type="checkbox"]), textarea {
	display:block;
	margin-bottom: 2rem;
	width: 20rem;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	padding: 0 1rem;
	border: none;
	border-radius: 1rem;
}
h1 {
	font-family: 'Gloria Hallelujah', cursive;
}
address {
	margin: 2rem 0 2rem 0;
}
iframe {
	border-radius: 2rem;
	margin: 0 0 2rem 0;
}




